{% extends "base.html.jinja2" %}

{% block content %}
    <h1>The is user profile page</h1>
    <div class="container">
        
        <h3>
            {{user.first_name}} {{user.last_name}}
        </h3>
        <h3>
            {{user.username}}
        </h3>
        <h3>
            {{user.email}}
        </h3>

        <h3>
            admin status : {{user.isadmin}}
        </h3>
        
    </div>
{% endblock content %}