{% extends "user/base.html.jinja2" %}

{% block content %}
    
    <div class="container m-5">
        <h1>User's profile</h1>
        <h3>
            First Name : {{user.first_name}} 
            <br />
            Last Name : {{user.last_name}}
        </h3>
        <h3>
            Username : {{user.username}}
        </h3>
        <h3>
            email address : {{user.email}}
        </h3>

        <h3>
            Tickets Booked
        </h3>
        <div>
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Show name</th>
                    <th scope="col">Venue Name</th>
                    <th scope="col">Total tickets</th>
                    <th scope="col">Show date</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in tickets_booked %}
                <tr>
                    <th scope="row">{{booking.username}}</th>
                    <td>{{booking.showname}}</td>
                    <td>{{booking.venuename}}</td>
                    <td>{{booking.totalticket}}</td>
                    <td>{{booking.reservation_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <a href="/" class="btn btn-secondary">Go To Home !</a>
    </div>
{% endblock content %}