<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Tickets</title>
    <!-- css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="../static/styles/bookshow.style.css" /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/bookshow.style.css') }}"
    />
    <!-- /////////// -->
  </head>
  <body>
    <div>{% include "user/header.html.jinja2" %}</div>
    <div class="container-fluid show__container">
      <div class="row">
        <!-- poster column -->
        <div class="col-3">
          {% if show.poster_filename %}
          {{ show.show_poster }}
          <!-- GET /static/images/%7B%7Bshow.poster_filename%7D%7D HTTP/1.1" 404 -->
          <img
            src= "../../../static/images/{{show.poster_filename}}"
            alt="{{ show.show_name }}"
            class="card-img-top show--poster"
          />
          {% else %}
          <img
            src="{{ url_for('static', filename='images/no-poster.png') }}"
            alt="{{ show.show_name }}"
            class="card-img-top show--poster"
          />
          {% endif %}
        </div>
        <!-- show description column -->
        <div class="col-9 show--col">
          <div class="show--title lead">
            {{ show.show_name }}
          </div>
          <div class="show--tags">
            {% for tag in show.tags.split(',') %}
            <span class="show--tag">
              {{ tag }}
            </span>
            {% endfor %}
          </div>
          <div class="show--ratings">{{ show.rating }}/10</div>
          <div class="show--release-date">
            {{ show.release_date }}
          </div>
          <div class="show--descp">
            {{ show.show_description }}
          </div>
          <div class="show--cast">
            {{ show.cast }}
          </div>

          <div>
            <a class="btn btn-light" href="/booknow/{{ show.show_id }}"
              >Book Now</a
            >
          </div>
        </div>
        <!-- column ends here -->
      </div>
    </div>

    <!-- JavaScript /BootStrap only/custom -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <!-- ///////////////////// -->
  </body>
</html>
