/* //////////
reset
//////////// */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* //////////
General
////////////// */
/* font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

/* root */
:root {
    font-family: 'PT Sans', sans-serif;
    --clr-primary-5: #f2f2f2;
    --clr-primary-4: #f25757;
    --clr-primary-3: #030f26;
    --clr-primary-2: #732743;
    --clr-primary-1: #d93250;
    --clr-sec-1: #FF3D3D;

    /* font weights */
    --w-light: 300;
    --w-heavy: 700;
    --w-regular: 500;
}

/* container */
.container {
    font-family: 'PT Sans', sans-serif;
}

.show__container {
    padding: 2em 2em !important;
}



/* ///////////////////
show
    ////////////////// */

    .show__container{
        background: var(--clr-primary-2);
        color: var(--clr-primary-5);
    }
    /* ////////////
    title
    ////////////// */
        .show--title {
            text-transform: uppercase;
            font-size: 5rem;
            line-height: 0.5;
            margin: 2rem 0;
            font-family: 'Oxygen', sans-serif;
            font-weight: 550;
        }
    
    /* /////////
    tags
    //////////// */
    .show--tags{
        margin: 1.2rem 0;
    }
    .show--tag{
        background: var(--clr-primary-3);
        color: var(--clr-primary-5);
        margin: 0.25rem;
        padding: 0.5rem 0.5rem;
        border-radius: 0.75rem;
        text-transform: capitalize;
    }
    .show--descp{
        font-size: 1.2rem;
    }

    .show--poster{
        border: 0.5em double var(--clr-primary-5);
    }
    