/* //////////
resoucess

    color: rgba(217, 50, 80, 1);

    color: rgba(115, 39, 67, 1);

    color: rgba(3, 15, 38, 1);

    color: rgba(242, 87, 87, 1);

    color: rgba(242, 242, 242, 1);
 
*/

/* //////////
reset
//////////// */
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* //////////
General
////////////// */
    /* font */
        @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
    /* root */
    :root{
        font-family: 'PT Sans', sans-serif;
        --clr-primary-5 : #f2f2f2;
        --clr-primary-4 : #f25757;
        --clr-primary-3 : #030f26;
        --clr-primary-2 : #732743;
        --clr-primary-1 : #d93250;
        --clr-sec-1 : #FF3D3D;

        /* font weights */
        --w-light : 300;
        --w-heavy : 700;
        --w-regular : 500;
    }

    /* container */
    .container{
        font-family: 'PT Sans', sans-serif;
    }

    
/* ////////////////
Header
///////// */
.header .btn{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.header{
    position: relative;
}
.header a.navbar-brand{
    font-size: 1.75rem;
    font-weight: var(--w-heavy);
    margin: 0;
}
/* //////////////
Cover Image
/////////////// */
    .cover_image{
        background-image: url(https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        width: 100%;
        height: 300px;
    }
    div.cover_image{
        padding: 4.5rem;
    }

    .cover--title{
        color: #f3f3f3;
        text-shadow: -2px 2px 2px rgba(243, 243, 243, 0.5);
        text-align: center;
        font-size: 3rem;
        font-weight: var(--w-heavy);
        font-style: italic;
        line-height: 1;
    }

/* ///////////
Movies
//////////////// */
    .container__title{
        text-align: center;
        line-height: 0;
        margin-top: 2.5rem;
        margin-bottom: 3rem;
        font-size: 3.55rem;
    }
    .container--movies{
        padding: 1rem;
        margin: 2.5rem 5rem;
        /* display: grid; */
    }
    /* //////////
    movie card 
    //////////////*/
        .movies__card{
            text-align: left;
            border: transparent;
            background: var(--clr-primary-3);
            color: var(--clr-primary-5);
            padding: 0;
            max-width: 15rem;
        }
        
        .movie__body{
            text-align: center;
        }
        .movie__title {
            font-weight: var(--w-regular);
            margin: auto;
            font-size: 1.5rem;
            text-transform: capitalize;
        }
        .movie__poster{
            box-shadow:0 5px 100px 5px rgba(243, 243, 243, 0.5);
            /* max-width: 1rem; */
            max-height: 20rem;
        }
        .movies__btn{
            margin: 0rem auto 1rem auto;
            text-align: center;
            background: var(--clr-primary-1);
            border: none;
        }
        .movies__btn:hover{
            background: var(--clr-sec-1);
            box-shadow: -5px 5px 50px 5px rgba(243, 243, 243, 0.4);
        }

