<div class="col m-2 card movies__card" style="width: 12.99rem">
  {% if show.show_poster %}
  <img
    src="static/images/{{ show.show_poster }}"
    alt="{{ show.show_name }}"
    class="card-img-top movie__poster"
    method="GET"
  />

  {% else %}
  <h3>
    <img
      src="../static/images/no-poster.png"
      alt="{{ show.show_name }}"
      class="card-img-top movie__poster"
      method="GET"
    />
  </h3>
  {% endif %}
  <div class="card-body movie__body">
    <h5 class="card-title movie__title">
      {{ show.show_name }}
    </h5>

    <p class="card-text movies__tags">Tags : {{ show.tags }}</p>
    <p class="card-text">Premiere Date : {{ show.premiere_date }}</p>
    <p class="card-text">Ratings : {{ show.rating }}</p>
    <!-- <p class="card-text">
      Venue avialable: {{show.venue_name}}
    </p> -->
  </div>
  <a
    href="./book_tickets/{{ show.show_id }}"
    class="btn btn-primary movies__btn"
    >Book Tickets</a
  >
</div>
