<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>show management</title>
    <link rel="stylesheet" href="../../static/styles/show_mgmt.style.css">
  </head>
  <body>
    {% include 'admin/base.html.jinja2' %}
    <div class="container-fluid show--container">
      <h4 class="shows__heading">Shows Manager</h4>
      <div class="show__list container mt-5" style="margin: 0 auto">
        <a href="add_show" class="btn btn-primary m-3">Add Shows</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">{{ "show id" }}</th>
              <th scope="col">{{ "Show Name" }}</th>
              <th scope="col">{{ "Release Date" }}</th>
              <th scope="col">{{ "Rating" }}</th>
              <th scope="col">{{ "Show Description" }}</th>
              <th scope="col">{{ "Cast" }}</th>
              <!-- <th scope="col">{{"Show Poster"}}</th> -->
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            {% for show in shows %}
            <tr>
              <th scope="row">{{ show.show_id }}</th>
              <td>{{ show.show_name }}</td>
              <td>{{ show.release_date }}</td>
              <td>{{ show.rating }}</td>
              <td>{{ show.show_description }}</td>
              <td>{{show.cast}}</td>
              <!-- <td><img src="{{show.poster_link}}" alt="show poster" style="max-width: 7.5rem;"></td> -->
              <td class="text-align-center">
                <span class="row">
                  <a
                    href="edit_show/{{ show.show_id }}"
                    class=" col btn btn-outline-success p-1" 
                    >Edit</a
                  >
                  <form action="{{ url_for('admin_controllers.delete_show', show_id=show.show_id) }}" method="POST" class="col">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-outline-danger p-1">
                      Delete
                    </button>
                  </form>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
