<div class="col m-2 card movies__card" style="width: 12.99rem;">
  {% if SHOW.poster_link %}
  <img src="{{SHOW.poster_link}}" alt="{{SHOW.show_name}}" class="card-img-top movie__poster" method="GET">
  {% else %}
  <h3>
    <img src="../static/images/no-poster.png" alt="{{SHOW.show_name}}" class="card-img-top movie__poster" method="GET">
  </h3>
  {% endif %}
  <div class="card-body movie__body">
    <h5 class="card-title movie__title">
        {{SHOW.show_name}}
    </h5>

    <p class="card-text movies__tags">
        Tags : {{SHOW.tags}}
    </p>
    <p class="card-text">
      Release Date : {{SHOW.release_date}}
    </p>
    <p class="card-text">
      Ratings : {{SHOW.rating}}
    </p>
    
  </div>
  <a href="./book_tickets/{{user_id}}/{{SHOW.show_id}}" class="btn btn-primary movies__btn">Book Tickets</a>
</div>