<div class="col m-2 card movies__card" style="width: 12.99rem;">
  <img src="{{SHOW.poster}}" alt="{{SHOW.title}}" class="card-img-top movie__poster">
  <div class="card-body movie__body">
    <h5 class="card-title movie__title">
        {{SHOW.title}}
    </h5>
    <p class="card-text movies__tags">
        Tags:
            {% for tag in SHOW.tags %}
            {{tag}}
            {% endfor %}

    </p>
    
  </div>
  <a href="./book_tickets/{{SHOW.show_id}}" class="btn btn-primary movies__btn">Book Tickets</a>
</div>